{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    {% for message in app.flashes("success") %}

        <div class="alert alert-success col-md-6 mx-auto text-center">{{ message }}</div>

    {% endfor %}
    {% for message in app.flashes("error") %}

        <div class="alert alert-danger col-md-6 mx-auto text-center">{{ message }}</div>

    {% endfor %}

    <form method="post" action="{{ path('resetPassword') }}" class="col-md-4 mx-auto">
        <input type="hidden" name="id" value="{{ id }}">
        <div class="form-group mb-4 text-center">
            <label class="form-label mt-4">Nouveau mot de passe</label>
            <input type="password" class="form-control" name="password" placeholder="Saisissez votre nouveau mot de passe">
        </div>
        <div class="form-group mb-4 text-center">
            <label class="form-label mt-4">Confirmation du nouveau mot de passe</label>
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirmez votre nouveau mot de passe">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">Confirmer</button>
        </div>
    </form>

{% endblock %}